body{
    background-color: white;
}
.links{

    font-size: large;
    margin-top: 30px;
}
#flink{
    
margin-left: 300px;
}

.slink{
    text-decoration: none;
    padding-bottom: 20px;
    margin-left: 40px;
    color: black;
}
.logo{

    margin-top: 30px;
}
.Btn{
    margin-left: 45px;
    font-size: 20px;
    border: 0px;
    font-weight:normal;
}