.info2{
    margin: 0px;
    padding: 0px;
    
    background-color: white;
}
.image{
    height:850px;
    width:1200px;
}
.text{

    text-align: center;
    padding-bottom: 0px;
     font-size: 65px;
     font-weight:normal;
     
 }