.main{
    background-color:rgb(61, 34, 238);
    height: 900px;
}
.t1{
    text-align: center;
    color: white;
    padding-top: 55px;
    font-weight: lighter;
    font-size: 85px;
}
.t2{
    text-align: center;
    color: white;
    font-weight: lighter;
    font-size: 85px;
}
.white{
    height: 280px;
    width: 500px;
    background-color: white;
    margin-left: 34%;
}
.black1{
    width: 758px;
    padding-top: 35px;
    text-align: center;
    background-color: black;
    color: white;
    height: 80px;
    font-weight: lighter;
    font-size: 30px;
    margin-left: 44%;
    margin-bottom: 30px;
}
.black2{
    width: 820px;
    padding-top: 35px;
    text-align: center;
    margin-left: 10%;
    background-color: black;
    color: white;
    height: 80px;
    font-weight: lighter;
    font-size: 30px;
}
